* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #2f4050;
}

.SidebarTitle {
  width: 100%;
  height: 60px;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #293846;
}

.SidebarTitle p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin: 0;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  list-style-type: none;
}

.SidebarList .row .linkTo {
  width: 100%;
  height: 60px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.SidebarList .row .linkTo:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList .linkTo #active {
  background-color: #293846;
}

.SidebarList .linkTo #title {
  flex: 100%;
  display: grid;
  place-items: center;
}

.MainApp {
  height: 100%;
  width: 100%;
  padding: 50px;
  background-color: whitesmoke;
}